#sidebar-second{
	width:240px;
}

#content{
	background-image:url('backround-pattern.png');
	background-position: right top;
background-repeat:no-repeat;
margin: 0px;
}

#block-menu-menu-tools{
	position: absolute;
	top: 0px;
	right: 200px;
}

#block-menu-menu-tools ul li{
	list-style: none;
	float:left;
}



#flag_container{
	position: relative;
	/*top: -90px;*/
	right: 0px;
	border: 4px solid #FFFFFF !important;
	float: right;
	font-size:15px
}

#flag_container td{
	padding:0px 20px 0px 10px;
}

#flag_container a{
	color: #919191;
}


#flag_container img{
	width: 30px;
}



#flag_container td, #flag_container tr{
	border: 0px solid #FFFFFF !important;
}

#logo{
	float: left;
}

#block-locale-language{
	float:right;
  margin:0px !important;
  padding:0px !important;
}

#block-locale-language h2{
  display: none;
}

#block-locale-language li{
  list-style: none;
  float:left;
  padding:5px;
}

#block-climasouth-climasouth-login{
	float: right;
	margin:15px;
}

#header-content{
	float: left;
	position: relative;
	top:0px;
	
}

#block-climasouth-climasouth-country-flag{
		width: 200px;
		
		position: absolute;
		top: -90px;
		right: 0px;
	
}
.title{
	color: #dd6659;
	font-size: 25px;
}

.climasouth_link_blu, td.loginlogout a {
	color: #71b1cb !important;
	margin-left:10px;	
	text-decoration: none;
}


#flag_container a.activel{
	text-decoration: underline;
}




img.rss_icon {
 margin: 2px;
}
/**
 CLIMASOUTH MODULE
 */
#block-climasouth-climasouth-toolbar{
	float: left;
	border-top: 1px solid #e8e8e8;
	/*border-bottom: 1px solid #e8e8e8;	*/
}

.climasouth_toolbar {
	list-style: none;
	float: left;
	padding: 5px;
	font-size: 13px;
}

a{color:#71b1cb;text-decoration:none}
body {font-family: 'roboto'}


#comments div.comment{
	border-bottom: 1px solid #CCC;
  margin: 5px;
	padding: 5px;
  font-size: 13px;
}

#comments div.comment div.user-picture{
  float:right
}


#comments div.comment h3{
  font-size: 15px;
  float:left
}

#comments div.comment div.submitted{
  font-size: 10px;
  float:right
}

#comments div.comment div.content{
	clear: both;
  font-size: 12px;
}

#comments div.comment  ul.links{
  font-size: 10px;

}


#comments  div.comment div.submitted a.permalink{
  display:none;
}

/* ---------- Search result ---------- */

/*
climasouth_res{
	float:left;
	width: 710px;
	
}
div.res_edit{
	float: right;
	margin: 10px;
	width: 170px;
	border: 1px solid #CCC;
	clear: right;
}

div.res_head{
	float:left;
clear: left;
	width: 600px;
	border: 1px solid #CCC;
}

div.climasouth_res_header{
	width: 910px;
	clear:both;
border: 1px solid red;
}
*/
/*
#resource_search_items {
	float:left;
	width:300px;
}

#resource_search_items input, #resource_search_items select{
	width:280px;
}

#resource_search_res{
	float:left;
	width:800px;
}


div.climasouth_res{
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}
*/

[class*="span"] {
	margin-left: 40px;
}

.cs_image_cropper {
  position: relative;
  width: 553px;
  height: 311px;
  overflow: hidden;
  margin-left: 317px;
}



#main-menu{
	background-color: #dd6659;
  height: 38px;
}
#main-menu ul.menu li{
	border-left: 1px solid #f3f3f3;
  height: 38px;
}

#main-menu ul.menu li.last{
	border-right: 1px solid #f3f3f3;
}

#main-menu ul.menu li a{
   color: #FFFFFF;
}
#main-menu .navbar .nav li.last{
	background-color: #FFFFFF !important;
  border-top: 1px solid #dd6659;
  height: 36px;
  
}
#main-menu .navbar .nav li.last a{
	color:#dd6659;
}


#main-menu ul.menu ul.dropdown-menu li.last{
	border: 0px solid #f3f3f3;
}

#main-menu ul.menu ul.dropdown-menu li.last a{
   color: #000;
}


#main-menu ul.menu ul.dropdown-menu li a{
   color: #000000 !important;
}

.navbar .nav li.dropdown.active-trail{
	background-color: #f3f3f3 !important;
}
.navbar .nav li.dropdown.active-trail a{
	color: #dd6659 !important;
}




#main-menu ul.menu li.active a:hover{
   background-color: inherit;
}

#main-menu ul.menu ul.dropdown-menu li a.active-trail{
   background-color: #FFFFFF;
}

#main-menu ul.menu ul.dropdown-menu li a.active{
   background-color: #FFFFFF;
}


#main-menu ul.menu ul.dropdown-menu li a:hover{
   background-color: inherit;
}


.page-node-1  #main-content{
 width: 1170px;
}

.page-node-1 #content{
 width: 870px;
}

#header #name{
display:none;
}



#flag_container .cs_last_col a{
	display: block;
}

#cs_disconnecter{
	width: 120px !important;
}


