
/* ---------- Climasouth Specifications ---------- */


table tfoot tr td{
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
  color: #FFF;
  font-weight: bold;
}

climasouth_login {
	padding:5px;
  clear: right;
}


.leaflet-top, .leaflet-bottom {
    position: absolute !important;
    z-index: 10 !important;
    //pointer-events: none;
}




