
/* ---------- Climasouth Specifications ---------- */


table tfoot tr td{
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
  color: #FFF;
  font-weight: bold;
}

climasouth_login {
	padding:5px;
  clear: right;
}


.leaflet-top, .leaflet-bottom {
    position: absolute !important;
    z-index: 10 !important;
    //pointer-events: none;
}

/** from the old theme*/
/*


.climasouth_toolbar {
	list-style: none;
	margin: 0px 0px 4px 0px;
	line-height: 30px;
	width: 210px;
	text-align: center;
	font-weight: bold;
	color: #000000;
	background: #dc4e4e;
}
*/
#block-climasouth-climasouth-toolbar {
	background: white !important;
	border: 0px;
}

#climasouth_toolbar_ul {
	padding: 0px;
	margin: 0px;
}

#block-climasouth-climasouth-toolbar {
	padding: 0px;
}

#climasouth_mng_ass{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0px 10px 0px;
}

#cs_top_banner{
	position: relative;
}

#map_new_container{
	float:left;
/*
	background-color: #71b1cb;
*/
	background-image: url('resources/news_background.png');
  position: absolute;
	right:0px;	
	height: 311px;		
	overflow: auto;
	padding: 0px;
	margin: 0px;
}


#map_new_container #climasouth_news{
	width: 300px;
	height:305px;
	padding: 0px;
	margin: 0px;

	
	
}



.climasouth_news {
list-style: none;
margin: 0px 0px 4px 0px;
padding: 10px 0 2px 0px;
color:white;
font-size:15px;
}


#block-climasouth-climasouth-news {
	padding: 0px;
	border:0px;
	margin:0px;
	height: 390px;
	background: #62a9c6;
	margin-bottom: 10px;
	border-radius: 5px;
}

#climasouth_news_h2 {
	text-shadow: none;
	text-align: left	
	font-weight: bold;
	line-height: 30px;
	vertical-align: middle;
	color: white;
	font-size: 17px;
	text-transform:uppercase;
}


#climasouth_toolbar a {color:#919191 !important; text-decoration:none;}
#climasouth_news a {
	color:white !important; text-decoration:none;	
}

#climasouth_news_h2  a {
	margin-left: 25px;
}

#map_info_container{
	position: absolute;
	float:left;
	left: 0px;
	bottom: 0px;
	width: 250px; 
	height: 150px; 
	z-index: 200;
	overflow: auto;
	border: 0px solid #000;
	background-color: #FFF;
	padding:10px;
	text-align:center;
}


#label_container{
	position: absolute;
	float:left;
	left: 0px;
	bottom: 0px;
	width: 260px; 
	max-height:270px; 
	z-index: 200;
	overflow: auto;
	padding:20px;
	text-align:center;
	vertical-align:middle;
	font-size:12px;
}

#map_blue_left {
	background-color: #cfeaf3;
  float:left;
	left:0px;
	position: absolute;
	width:200px;
	height: 311px;
	z-index: 200;
	
}

div.climasouth_popup h3{
	font-size:15px;

}
div.climasouth_popup h3 a{ 
color: #919191;
}

div.climasouth_popup div.cs_left {
	float:left;
	width: 90px;
}

div.climasouth_popup div.cs_right {
	float:right;
	text-align: left;
	font-size:11px;
	width: 150px;
  color: #dd6659;
}

div.climasouth_popup div.cs_right b{
  color: #919191;
}

div.climasouth_res{
	float:left;
	width: 220px;
	height: 250px;
	border: 1px solid #CCC;
	background-color: #EEE;
	margin: 5px;
	padding: 5px;
	overflow: hidden;
}

div.climasouth_res div.climasouth_res_header{
	float:left;
	margin:0px: padding:0px;
	width: 220px;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}


div.climasouth_res div.res_head{
	float: left;
	padding:0px; margin:0px;
}

div.climasouth_res div.res_head h3{
	font-size: 16px;
	padding:0px; margin:0px;
	margin-bottom:10px;
	clear: both;  
}

div.climasouth_res span.res_edit{
	float: right;
	padding:1px; margin:6px 2px;
	width:30px;
	text-align: center;
	background-color: #EEE;
	font-size: 12px;
}
div.climasouth_res div.flag{
	float:left;
	margin:0px;
	padding:0px;
}

div.climasouth_res div.flag img{
	height:35px;
	margin:0px;
	padding:0px;
}



div.climasouth_res_vars{
	font-size: 14px;
}

div.climasouth_res_vars span.clabel{
	font-weight: bold;
	width: 100px;
}

div.climasouth_res_des{
	font-size: 14px;

}
#tag_cloud {
	width: 600px;
}
#tag_cloud div.tag{
	float:left;
	margin:2px;
	padding: 5px;
	background-color: #CCC;
}

#tag_cloud div.country{
	background-color: #FCC;
}

#tag_cloud div.tags{
	background-color: #FFC;
}

#tag_cloud div.subject{
	background-color: #FCF;
}

#tag_cloud div.language{
	background-color: #CCF;
}


#resource_search_items table{
	width:100%;
}

