

div.dbmng_form_row{
  clear: both;
  padding:3px;
}

tr.working{
	background-color: #777;
}

div.dbmbg_form_element{
	float:left;
}

div.dbmng_form label {
  display: block;
	float:left;
  width:150px;
}

span.dbmng_required {
  color:red;
}

div.dbmng_form_button {
	width:450px;
	text-align: center;
	clear: both;
  padding: 15px;
}

div.dbmng_form_row input, div.dbmng_form_row select, div.dbmng_form_row textarea  {
  width:300px;
}


div.dbmng_form_row textarea.html_widget{
	width: 500px;
	height: 300px;
}

/* do not change width of checkbox */
div.dbmng_form_row input.dbmng_checkbox {
  width: auto;
}

div.dbmng_form_field_id_voc_type select{
  width:30px!important;
}


img.dbmng_image_thumb {
	width:200px;
}


div.dbmng_file_hide_this{
    position: absolute;
    left:-1000px;
    top:-1000px;
}

div.dbmng_form_row input.dbmng_file_text  {
  width: 200px;  
}

div.dbmng_form_search {
	padding: 5px;
}

div.dbmng_form_search div.dbmng_form_row {
  clear: none;

	float:left;
	padding: 5px;
}

div.dbmng_form_search div.dbmng_form_row input, div.dbmng_form_search div.dbmng_form_row select, div.dbmng_form_search div.dbmng_form_row textarea  {
  width:100px;
}

/* Table sorter CSS */
table.tablesorter thead tr .header {
	background-image: url(themes/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}


table.tablesorter thead tr .headerSortUp {
	background-image: url(themes/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(themes/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}



/* dbmng_obj  */
table.dbmng_table tr.del td {
	background-color: #FFCC00;
}

table.dbmng_table tr.ins td {
	background-color: #CCFF66;
}

table.dbmng_table tr.upd td {
	background-color: #FFFF66;
}


/* dbmng_mobile  */
ul.dbmng_list_view div.del {
	border-left: 10px solid #FFCC00;
	padding-left: 3px;
}


ul.dbmng_list_view div.ins {
	border-left: 10px solid #CCFF66;
	padding-left: 3px;
}


ul.dbmng_list_view div.upd  {
	border-left: 10px solid #FFFF66;
	padding-left: 3px;
}

ul.dbmng_list_view div.ok  {
	padding-left: 13px;
}


.ui-icon-myapp-copy {
	background: url("themes/copy_white.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}