

div.dbmng_form_row{
  clear: both;
  padding:3px;
}

tr.working{
	background-color: #777;
}

div.dbmbg_form_element{
	float:left;
}

div.dbmng_form label {
  display: block;
	float:left;
  width:150px;
}

span.dbmng_required {
  color:red;
}

div.dbmng_form_button {
	width:450px;
	text-align: center;
	clear: both;
  padding: 15px;
}

div.dbmng_form_row input, div.dbmng_form_row select, div.dbmng_form_row textarea  {
  width:500px;
}


div.dbmng_form_row textarea.html_widget{
	width: 500px;
	height: 300px;
}

/* do not change width of checkbox */
div.dbmng_form_row input.dbmng_checkbox {
  width: auto;
}

div.dbmng_form_field_id_voc_type select{
  width:30px!important;
}


img.dbmng_image_thumb {
	width:200px;
}


div.dbmng_file_hide_this{
    position: absolute;
    left:-1000px;
    top:-1000px;
}

div.dbmng_form_row input.dbmng_file_text  {
  width: 200px;  
}

div.dbmng_form_search {
	padding: 5px;
}

div.dbmng_form_search div.dbmng_form_row {
  clear: none;

	float:left;
	padding: 5px;
}

div.dbmng_form_search div.dbmng_form_row input, div.dbmng_form_search div.dbmng_form_row select, div.dbmng_form_search div.dbmng_form_row textarea  {
  width:100px;
}

div.dbmng_separator {
 border-bottom: 1px solid #CCC;
 margin-bottom: 10px;
 width: 700px;
 clear: both;
}


/* Table sorter CSS */
table.tablesorter thead tr .header {
	background-image: url(themes/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}


table.tablesorter thead tr .headerSortUp {
	background-image: url(themes/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(themes/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}



/* dbmng_obj  */
table.dbmng_table tr.del td {
	background-color: #FFCC00;
}

table.dbmng_table tr.ins td {
	background-color: #CCFF66;
}

table.dbmng_table tr.upd td {
	background-color: #FFFF66;
}


/* dbmng_mobile  */
ul.dbmng_list_view div.del {
	border-left: 10px solid #FFCC00;
	padding-left: 3px;
}


ul.dbmng_list_view div.ins {
	border-left: 10px solid #CCFF66;
	padding-left: 3px;
}


ul.dbmng_list_view div.upd  {
	border-left: 10px solid #FFFF66;
	padding-left: 3px;
}

ul.dbmng_list_view div.ok  {
	padding-left: 13px;
}


.ui-icon-myapp-copy {
	background: url("themes/copy_white.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}

#dbmng_list_wrapper {
    padding-top : 45px;
}
#dbmng_list_wrapper form {
    position :fixed;
    top      : 15px;
    left     : 15px;
    width    : 100%;
    z-index  : 1;
}

.center-wrapper {
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}

/**
	start taphold css
*/ 
.androidMenu {
    display: none;
    position: fixed;
    z-index: 1100;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
}
.androidMenu ul {
    color: #fff;
    list-style: none;
    text-shadow: none;
    min-width: 100%;
    margin: 3.6em 0 0 0;
    padding: 0;
}
.androidMenu ul li {
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
    padding: 1.2em 2em;
    width: 40%;
    margin: 0 auto;
}
.androidMenu ul li:hover,
.androidMenu ul li:active { background-color: rgba(0,0,0,0.8) }
.ui-content li.bowListData { padding: 30px 28px 15px 28px }
.ui-content li.bowListData p {
    font-size: 14px;
    line-height: 1.85;
}

/** 
	end taphold css
*/
li img.dbmng_picture{
	width: 80px;
}

input.dbmng_checkbox{
	margin-right: 5px !important;
}
.dbmng_checkbox_ul{
	width: 500px;
	float: left;
	list-style: none;
	margin: 0px;
}

.dbmng_checkbox_ul li{
	float: left;
	width: 45%;
}


#tapholdmenu ul {
list-style-type: none;
}

div.error{
	background-repeat: no-repeat;
	padding-left: 30px;
}

tr.dbmng_subtable td.dbmng_subtable {
 border: 1px solid #CCC;
 padding-left: 20px;	
 padding-bottom: 20px;	
}

